body {
	background-color: #33353D;
}

.buttonArea {
  margin: auto;
  text-align: center;
}

.buttonArea button {
  width: 217px;
  height: 40px;
  font-family: ProximaNova, Arial;
  font-size: 16px;
  font-weight: 600;
}